In [31]:
import pandas as pd
a = pd.read_pickle("data/count_year_gender.pkl", compression = 'gzip')
a.head()

year  county_name     subject_sex
2009  Alameda County  female         34786
                      male           79651
      Alpine County   female          1895
                      male            5210
      Amador County   female          2239
Name: date, dtype: int64

In [61]:
a.to_csv('count_year_gender_ca.csv')

In [28]:

a.to_json('test.json', orient = "index")

In [32]:
b = pd.DataFrame(a).reset_index().query("subject_sex == 'female'")

b.head()

   year       county_name subject_sex   date
0  2009    Alameda County      female  34786
2  2009     Alpine County      female   1895
4  2009     Amador County      female   2239
6  2009      Butte County      female   6795
8  2009  Calaveras County      female   3282

In [34]:
b['county_name'] = b['county_name'].str.strip(' County')

In [63]:
b.to_json('test.json', orient="split")

In [35]:
b.to_csv('data/arrest_female_ca.csv')

Ethnicity

In [23]:
import pandas as pd
ethni = pd.read_pickle("data/count_year_ethnicity.pkl", compression = 'gzip')
ethni = pd.DataFrame(ethni)

In [24]:
ethni = ethni.reset_index()

In [25]:
ethni['county_name']

0       Alameda County
1       Alameda County
2       Alameda County
3       Alameda County
4       Alameda County
             ...
2315       Yolo County
2316       Yolo County
2317       Yolo County
2318       Yolo County
2319       Yolo County
Name: county_name, Length: 2320, dtype: object

In [26]:
ethni['county_name'] = ethni['county_name'].str[:-7]

In [27]:
ethni['county_name']

0       Alameda
1       Alameda
2       Alameda
3       Alameda
4       Alameda
         ...
2315       Yolo
2316       Yolo
2317       Yolo
2318       Yolo
2319       Yolo
Name: county_name, Length: 2320, dtype: object

In [39]:
ethni['county_name'] = ethni['county_name'].apply(lambda x : x.replace("Siskyou", "Siskiyou"))
ethni['county_name'] = ethni['county_name'].apply(lambda x : x.replace("Santa Barbera", "Santa Barbara"))

In [40]:
ethni_white = ethni.query("subject_race == 'white'")

In [20]:
ethni_white.to_json('data/arrest_white.json')

In [41]:
ethni_white.to_csv('data/arrest_white_ca.csv')

In [34]:
ethni_black = ethni.query("subject_race == 'black'")
ethni_black.to_csv('data/arrest_black.csv')

In [7]:
import pandas as pd
import numpy as np
t = pd.read_csv('data/arrest_white_ca.csv')
t.head()

   Unnamed: 0  year county_name subject_race   date
0           4  2009     Alameda        white  40816
1           9  2009      Alpine        white   5630
2          14  2009      Amador        white   5532
3          19  2009       Butte        white  14518
4          24  2009    alaveras        white   8413